<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84008017892-nj6ca020onon6icqjlq72v6a7gp7gpf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84008017892-nj6ca020onon6icqjlq72v6a7gp7gpf9</string>
	<key>API_KEY</key>
	<string>AIzaSyDsYW6PTKOALj4gxrlCjJxm0hib9pL5TSg</string>
	<key>GCM_SENDER_ID</key>
	<string>84008017892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryankenneth.mainProject</string>
	<key>PROJECT_ID</key>
	<string>fitze-main</string>
	<key>STORAGE_BUCKET</key>
	<string>fitze-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84008017892:ios:b3b76f3fac7d13731df1f1</string>
</dict>
</plist>